<html>
	<head>
        <title>$htmlUtil.htmlEncode($pageTitle)</title>
        #requireResource("confluence.web.resources:aui-forms")
        #requireResource("confluence.userstatus:userstatus-resources")
	</head>


    <body>

    </body>
</html>
